<div class="modal-shell__backdrop" (click)="onBackdropClick($event)">
  <section
    #frame
    class="modal-shell__frame"
    [ngClass]="sizeClass"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy || null"
    [attr.aria-describedby]="ariaDescribedBy || null"
    tabindex="-1">
    <button type="button" class="modal-shell__close" aria-label="Close dialog" (click)="requestClose()">
      <span aria-hidden="true">×</span>
    </button>

    <div class="modal-shell__surface">
      <ng-content></ng-content>
    </div>
  </section>
</div>
